body{
  background-color:#002255;
}

.wrapper {
  color: #002255;
  background-color: #d5e5ff;
}

img{
  display: block;
  margin-left: auto ;
  margin-right: auto;
  width: 3vw;
}

h2, h3, h1{
  color: #d5e5ff;
}

code {
  background-color: #003380;
  color: #d5e5ff;
  padding: 2px;
}

codehilite{
  padding: auto;
}

nav-tabs{
  color: #80b3ff;
}

.main-title{
  font-size: 3vw;
  color: #d5e5ff;
  background-color: #003380;
}

.main-footer{
  text-align: right;
  font-size:1vw;
  color:#d5e5ff;
}
