body{
  background-color:#002255;
}

.wrapper {
  color: #002255;
  background-color: #d5e5ff;
}

img{
  display: block;
  margin-left: auto ;
  margin-right: auto;
  width: 3vw;
}

h2, h3, h1{
  color: #d5e5ff;
}

code {
  background-color: #003380;
  color: #d5e5ff;
}


nav-tabs{
  color: #003380;
}

.main-title{
  font-size: 3vw;
  color: #d5e5ff;
  background-color: #003380;
  border-color: #80b3ff;
}



.card-body{
  color:#80b3ff;
  background-color:#002255;
  
}
.card{
  border-color: #d5e5ff;
  border-width:1px;
}

.card-header{
  background-color: #003380;
  }
  
.nav-link{
  color:#80b3ff;
}


.VirtualizedSelectFocusedOption {
  background-color: #ffffff;
}

.VirtualizedSelectOption {
    background-color: #003380;
    color: #d5e5ff;
}
